.main-landing-selectors-container {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  background: url("/svg/waves.svg") no-repeat center center;

  h3 {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);

    font-size: 120px;
  }
  .country-region-spot-selector {
    display: flex;
    div {
      label {
        visibility: hidden;
        position: absolute;
      }
      input[type="text"] {
        color: black;
      }
    }
  }
}
