$lato-font-path: "../public/fonts/lato";

@font-face {
  src: url("#{$lato-font-path}/Lato-Light.ttf") format("ttf");
  font-family: "Lato";
  font-weight: 300;
}

@font-face {
  src: url("#{$lato-font-path}/Lato-Regular.ttf") format("ttf");
  font-family: "Lato";
  font-weight: 400;
}

@font-face {
  src: url("#{$lato-font-path}/Lato-Bold.ttf") format("ttf");
  font-family: "Lato";
  font-weight: 700;
}
