@import "_resets", "_colors";

div#__next {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

* {
  color: $color-white;
  font-family: "Lato", sans-serif;
}

body {
  background-color: $color-black;
}
